Practicas/Practica 1 - Implementacion CAFE/nb-configuration.xml
Practicas/Practica 1 - Implementacion CAFE/nbactions.xml

Practicas/Practica 1 - Implementacion CAFE/target/

!**/src/main/**/target/
!**/src/test/**/target/

Practicas/Practica 1 - Implementacion CAFE/documentation/.Practica 1 - Implementacion CAFE.vpp.lck
Practicas/Practica 1 - Implementacion CAFE/documentation/Practica 1 - Implementacion CAFE.vpp.*